@use '../helper' as *;

.contact {
    padding-top: $space-xl;
    padding-bottom: $space-3xl;
    justify-content: center;
    background-image: url(/src/img/contact-us-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__container {
        width: min(90%, 120rem);
    }

    .title {
        font-family: $playfair;
        font-size: $step-3;
        font-weight: 200;
        margin-bottom: $space-m;
    }

    .img {
        border-radius: 5px;
        margin-bottom: $space-m;
    }

    .inputs {
        column-gap: 6rem;
        row-gap: 2.5rem;
        align-items: start;
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    .input label {
        font-family: $urbanist;
        font-weight: 300;
        font-size: $step-1;
    }

    .input input,
    .input textarea {
        outline: none;
        border: none;
        border-bottom: 1px solid #000;
        resize: none;
        font-size: $step-1;
        padding: $space-2xs 0;
        background: rgba(255, 255, 255, 0);
    }

    .email {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .message {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .input-submit-box {
        justify-content: center;
        align-self: end;
    }

    .submit {
        @include link-style;
    }
}
