@use '../helper' as *;

.contact {
    padding-top: 4.8rem;
    padding-bottom: 9.6rem;
    justify-content: center;
    background-image: url(/src/img/contact-us-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__container {
        width: 75rem;
    }

    .title {
        font-family: $playfair;
        font-size: 4.4rem;
        font-weight: 200;
        margin-bottom: 2.4rem;
    }

    .img {
        border-radius: 5px;
        margin-bottom: 2.4rem;
    }

    .inputs {
        column-gap: 6rem;
        row-gap: 2.5rem;
        align-items: start;
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    .input label {
        font-family: $urbanist;
        font-weight: 300;
        font-size: 1.8rem;
    }

    .input input,
    .input textarea {
        outline: none;
        border: none;
        border-bottom: 1px solid #000;
        resize: none;
        font-size: 1.6rem;
        padding: 0.3rem 0;
        background: rgba(255, 255, 255, 0);
    }

    .email {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .message {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .input-submit-box {
        justify-content: center;
        align-self: end;
    }

    .submit {
        @include link-style;
    }
}
