@use '../helper' as *;

.contact {
    padding-top: $space-xl;
    padding-bottom: $space-3xl;
    justify-content: center;
    background-image: url(/src/img/contact-us-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__container {
        width: min(90%, 120rem);
    }

    .title {
        font-family: $playfair;
        font-size: $step-3;
        font-weight: 200;
        margin-bottom: $space-m;
    }

    .img {
        border-radius: 5px;
        margin-bottom: $space-m;
    }

    .inputs {
        column-gap: $space-xl;
        row-gap: $space-s;
        align-items: start;
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    .input label {
        font-family: $urbanist;
        font-weight: 300;
        font-size: $step-1;
    }

    .input input,
    .input textarea {
        outline: none;
        border: none;
        border-bottom: 1px solid #000;
        resize: none;
        font-size: $step-1;
        padding: $space-2xs 0;
        background: rgba(255, 255, 255, 0);
        border-radius: 0px;
    }

    .email {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .message {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .input-submit-box {
        justify-content: center;
        align-self: end;
    }

    .submit {
        @include link-style($step-1, $space-xs, $space-2xl, 5, 1.5px, 5px);
    }

    @media (width <= 120rem) {
        @include media-contact(
            $space-l,
            $space-2xl,
            50vw,
            $step-2,
            $space-s,
            5px,
            $space-l,
            $space-xs,
            $space-3xs,
            $step-0
        );

        .submit {
            @include link-style($step-0, $space-2xs, $space-xl, 4, 1.5px, 5px);
        }
    }

    @media (width <= 90rem) {
        @include media-contact(
            $space-m,
            $space-xl,
            50vw,
            $step-1,
            $space-xs,
            4px,
            $space-m,
            $space-2xs,
            calc($space-3xs - 0.3rem),
            $step--1
        );

        .submit {
            @include link-style($step--1, $space-2xs, $space-l, 3, 1.5px, 4px);
        }
    }

    @media (width <= 54rem) {
        @include media-contact(
            4.75rem,
            7.13rem,
            41.5rem,
            3.17rem,
            3.2rem,
            4px,
            3.56rem,
            1.19rem,
            calc($space-3xs - 0.3rem),
            1.78rem
        );

        .inputs {
            grid-template-columns: 1fr;
            row-gap: 1.81rem;
        }

        .input input,
        .input textarea {
            padding: calc($space-3xs - 0.1rem) 0;
        }

        .email {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .message {
            grid-column: 1/2;
            grid-row: 4/6;
            margin-bottom: 4.75rem;
        }

        .submit {
            @include link-style(1.78rem, 0.8rem, 4.95rem, 4, 1.5px, 5px);
        }
    }

    @media (width <= 34rem) {
        @include media-contact(
            3.56rem,
            4.75rem,
            30rem,
            2.38rem,
            1.78rem,
            4px,
            2.38rem,
            0.63rem,
            calc($space-3xs - 0.3rem),
            1.34rem
        );

        .inputs {
            grid-template-columns: 1fr;
            row-gap: 1.19rem;
        }

        .input input,
        .input textarea {
            padding: calc($space-3xs - 0.1rem) 0;
        }

        .message {
            margin-bottom: 3.56rem;
        }

        .submit {
            @include link-style(1.34rem, 0.56rem, 3.56rem, 3, 1px, 4px);
        }
    }

    // @media (width <= 34rem) {
    //     @include media-contact(
    //         $space-xs,
    //         $space-l,
    //         50vw,
    //         $step--1,
    //         $space-3xs,
    //         2px,
    //         $space-xs,
    //         $space-3xs,
    //         calc($space-3xs - 0.3rem),
    //         $step--3
    //     );

    //     .submit {
    //         @include link-style($step--3, $space-2xs, $space-l, 1, 0.5px, 2px);
    //     }
    // }
}
