@use '../helper' as *;

.features {
    margin-inline: auto;
    width: min(85%, 192rem);
    align-items: center;
    margin-bottom: 9.6rem;

    &__cards {
        width: min(85%);
        gap: $space-xl;
        margin-bottom: 9.6rem;
    }

    .card {
        box-shadow: 0px 0px 3px 1px #d0d0d0;
        padding: $space-l;
        display: flex;
        flex-direction: column;
        gap: $space-s;
    }

    .card-title {
        font-family: $playfair;
        font-size: $step-1;
        font-weight: 400;
    }

    .card-description {
        font-family: $urbanist;
        font-size: $step-0;
        font-weight: 300;
    }

    &__learn-more {
        @include link-style;
    }
}
