@use '../helper' as *;

.hero {
    width: min(85%, 192rem);
    height: $docHeight;
    margin-inline: auto;
    align-items: center;
    grid-auto-rows: 3fr 1fr;
    // background-color: lightcyan;

    @media (width <= 34rem) {
        grid-auto-rows: 2fr 1fr;
    }

    &__img {
        width: 100%;
        height: 95%;
        background-image: url('../img/hero-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position-y: 10%;

        @media (width <= 34rem) {
            height: 85%;
        }

        @media (width <= 25rem) {
            height: 75%;
        }
    }

    &__main {
        width: 95%;
        margin-inline: auto;
        align-self: start;
    }

    .title {
        flex: 1;
        font-family: $playfair;
        font-size: $step-5;
        line-height: 1.05;
        padding-bottom: $space-l;
    }

    .description {
        flex: 1;
        text-align: center;
        gap: 1rem;
        padding-bottom: $space-l;

        p {
            font-family: $playfair;
            align-self: end;
            font-size: $step--1;
            letter-spacing: 1.5px;
        }
    }

    .cta {
        font-family: $urbanist;
        font-size: $step-0;
        justify-content: center;

        a {
            align-self: center;
            padding: $space-3xs $space-l;
        }
    }

    .cta-signup {
        border: 1.5px solid $gold;
        border-radius: 5px;
        color: $gold;
        font-weight: 600;
    }

    @media (width <= 85rem) {
        .title {
            font-size: calc($step-5 - 1.5rem);
        }
    }

    @media (width <= 52.5rem) {
        .title {
            font-size: $step-4;
        }
    }

    @media (width <= 43.75rem) {
        .title {
            font-size: $step-5;
        }
    }

    @media (width <= 32.5rem) {
        .title {
            font-size: clamp(3rem, 0.5rem + 6vw, 4rem);
            padding-right: 0.2rem;
        }

        .description {
            p {
                font-size: 0.8rem;
                letter-spacing: 1.2;
            }
        }

        .cta {
            a {
                padding: 0 $space-s;
            }
        }

        .cta-signup {
            border: 1px solid $gold;
            border-radius: 3px;
            padding: 0.5rem 1rem !important;
        }
    }
}
