@use '../helper' as *;

.stats {
    background: #636363;
    padding: $space-l 0;
    color: #fff;
    justify-content: center;
    margin-bottom: 12.8rem;

    &__line-space {
        background: #fff;
        width: calc($space-3xs - 0.1rem);
        margin: 0 calc($space-2xl + 1rem);
    }

    &__item {
        background: #636363;
    }

    .item-header {
        font-family: $urbanist;
        font-size: calc($step-3 + 0.5rem);
        margin-bottom: 0.5rem;
        font-weight: 400;
        letter-spacing: 0.5;
    }

    .item-description {
        font-family: $playfair;
        font-size: calc($step-0 - 0.2rem);
        font-weight: 100;
        letter-spacing: 0.5;
    }
}
