@use '../helper' as *;

.stats {
    background: #636363;
    justify-content: center;
    margin-bottom: calc($space-3xl + 4rem);

    &__container {
        padding: $space-l 0;
        color: #fff;
    }

    &__line-space {
        background: #fff;
        width: calc($space-3xs - 0.1rem);
        margin: 0 calc($space-2xl + 1rem);
    }

    &__item {
        background: #636363;
    }

    .item-header {
        font-family: $urbanist;
        font-size: calc($step-3 + 0.5rem);
        margin-bottom: 0.5rem;
        font-weight: 400;
        letter-spacing: 0.5;
    }

    .item-description {
        font-family: $playfair;
        font-size: calc($step-0 - 0.2rem);
        font-weight: 100;
        letter-spacing: 0.5;
    }

    @include media-stats(
        120rem,
        $space-2xl,
        $step-2,
        $step--1,
        $space-xl,
        0.2rem
    );
    @include media-stats(90rem, $space-xl, $step-1, $step--2, $space-l, 0.3rem);

    @include media-stats(54rem, $space-l, 3.17rem, 1.34rem, $space-m, 0.3rem);
    @media (width <= 54rem) {
        &__container {
            width: min(80%);
            height: min(25rem);
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 3rem;
            align-items: center;
        }

        &__line-space {
            display: none;
        }

        .item-header {
            text-align: center;
        }

        .item-description {
            text-align: center;
        }
    }

    @include media-stats(34rem, $space-m, 2.38rem, 1rem, 1.13rem, 0.3rem);
}
