* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.grid {
    display: grid;
}

.grid--2cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid--5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
