@use './variables' as *;

@mixin link-style {
    font-family: $urbanist;
    border: 1.5px solid $gold;
    border-radius: 5px;
    color: $gold !important;
    font-size: $step-1;
    letter-spacing: 5;
    font-weight: 500;
    margin: 0 auto;
    padding: $space-xs $space-2xl;
    display: inline-block;
}
