:root {
  --doc-height: 100%;
}

.btn--small, .btn {
  cursor: pointer;
  border: none;
  background: none;
}
.link {
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.link:link, .link:visited {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  font-weight: 400;
  color: #393937;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.grid {
  display: grid;
}

.grid--2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid--5cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.nav {
  width: 100%;
  padding: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem) 4%;
  justify-content: space-between;
  font-family: "Urbanist", sans-serif;
}
.nav__logo {
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
}
.nav__logo span {
  font-family: "Playfair Display", serif;
  letter-spacing: clamp(0.56rem, 0.12rem + 0.89vw, 1.19rem);
}
.nav__menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: "Playfair Display", serif;
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
  letter-spacing: 0.3rem;
  gap: clamp(2.25rem, 0.46rem + 3.57vw, 4.75rem);
}
.nav__auth {
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
  letter-spacing: 0.3rem;
  gap: clamp(1.69rem, 0.35rem + 2.68vw, 3.56rem);
}

.hero {
  width: min(85%, 192rem);
  height: var(--doc-height);
  margin-inline: auto;
  align-items: center;
  grid-auto-rows: 3fr 1fr;
}
.hero__img {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  background-color: darkgrey;
}
.hero__main {
  width: 95%;
  margin-inline: auto;
}
.hero .title {
  flex: 1;
  font-family: "Playfair Display", serif;
  font-size: clamp(2.8rem, -2.34rem + 10.28vw, 10rem);
  line-height: 1.05;
  margin: 2rem 0 7rem;
}
.hero .description {
  flex: 1;
  text-align: center;
  margin: 2rem 0 7rem;
  gap: 1rem;
}
.hero .description p {
  font-family: "Playfair Display", serif;
  align-self: end;
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
  letter-spacing: 1.5px;
}
.hero .cta {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem);
  justify-content: center;
}
.hero .cta a {
  align-self: center;
  padding: 0 clamp(2.25rem, 0.46rem + 3.57vw, 4.75rem);
}
@media (width <= 85rem) {
  .hero .title {
    font-size: clamp(2.33rem, -1.36rem + 7.38vw, 7.5rem);
  }
}

.stats {
  background: #636363;
  padding: clamp(2.25rem, 0.46rem + 3.57vw, 4.75rem) 0;
  color: #fff;
  justify-content: center;
  margin-bottom: 12.8rem;
}
.stats__line-space {
  background: #fff;
  width: calc(clamp(0.31rem, 0.09rem + 0.45vw, 0.63rem) - 0.1rem);
  margin: 0 calc(clamp(4.5rem, 0.93rem + 7.14vw, 9.5rem) + 1rem);
}
.stats__item {
  background: #636363;
}
.stats .item-header {
  font-family: "Urbanist", sans-serif;
  font-size: calc(clamp(1.94rem, -0.69rem + 5.26vw, 5.63rem) + 0.5rem);
  margin-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 0.5;
}
.stats .item-description {
  font-family: "Playfair Display", serif;
  font-size: calc(clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem) - 0.2rem);
  font-weight: 100;
  letter-spacing: 0.5;
}

.features {
  margin-inline: auto;
  width: min(85%, 192rem);
  align-items: center;
  margin-bottom: 9.6rem;
}
.features__cards {
  width: 85%;
  gap: clamp(3.38rem, 0.7rem + 5.36vw, 7.13rem);
  margin-bottom: 9.6rem;
}
.features .card {
  box-shadow: 0px 0px 3px 1px #d0d0d0;
  padding: clamp(2.25rem, 0.46rem + 3.57vw, 4.75rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem);
}
.features .card-title {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.35rem, 0.05rem + 2.59vw, 3.17rem);
  font-weight: 400;
}
.features .card-description {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem);
  font-weight: 300;
}
.features__learn-more {
  font-family: "Urbanist", sans-serif;
  border: 1.5px solid #92795a;
  border-radius: 5px;
  color: #92795a !important;
  font-size: clamp(1.35rem, 0.05rem + 2.59vw, 3.17rem);
  letter-spacing: 5;
  font-weight: 500;
  margin: 0 auto;
  padding: clamp(0.88rem, 0.21rem + 1.34vw, 1.81rem) clamp(4.5rem, 0.93rem + 7.14vw, 9.5rem);
  display: inline-block;
}

.pricing {
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: min(85%, 192rem);
  margin-inline: auto;
  gap: clamp(1.69rem, 0.35rem + 2.68vw, 3.56rem);
}
.pricing h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.62rem, -0.24rem + 3.71vw, 4.22rem);
}
.pricing__options {
  color: #888;
  font-family: inherit;
  font-size: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem);
  justify-self: center;
}
.pricing__options p {
  color: #393937;
}
.pricing .option.active {
  color: #393937;
}
.pricing__cards {
  width: min(65vw, 88rem);
  justify-self: center;
  gap: clamp(3.38rem, 0.7rem + 5.36vw, 7.13rem);
}
.pricing .card {
  border: 1px solid #000;
  padding: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem) clamp(1.69rem, 0.35rem + 2.68vw, 3.56rem);
  gap: 1rem;
}
.pricing .card-price {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem);
}
.pricing .card-price span {
  font-size: clamp(1.62rem, -0.24rem + 3.71vw, 4.22rem);
  font-weight: 700;
}
.pricing .card-title {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.35rem, 0.05rem + 2.59vw, 3.17rem);
}
.pricing .card-description {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
  letter-spacing: 1;
}
.pricing .card-list {
  font-family: "Urbanist", sans-serif;
  align-items: flex-end;
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
  letter-spacing: 0.8;
}
.pricing .card-list i {
  margin: 0 clamp(0.31rem, 0.09rem + 0.45vw, 0.63rem);
}
.pricing .card-cta {
  justify-self: center;
  font-family: "Urbanist", sans-serif;
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
  letter-spacing: 5;
  border: 1px solid #000;
  padding: clamp(0.56rem, 0.12rem + 0.89vw, 1.19rem) clamp(2.25rem, 0.46rem + 3.57vw, 4.75rem);
  margin-top: clamp(1.69rem, 0.35rem + 2.68vw, 3.56rem);
}

.contact {
  padding-top: clamp(3.38rem, 0.7rem + 5.36vw, 7.13rem);
  padding-bottom: clamp(6.75rem, 1.39rem + 10.71vw, 14.25rem);
  justify-content: center;
  background-image: url(/src/img/contact-us-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.contact__container {
  width: min(90%, 120rem);
}
.contact .title {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.94rem, -0.69rem + 5.26vw, 5.63rem);
  font-weight: 200;
  margin-bottom: clamp(1.69rem, 0.35rem + 2.68vw, 3.56rem);
}
.contact .img {
  border-radius: 5px;
  margin-bottom: clamp(1.69rem, 0.35rem + 2.68vw, 3.56rem);
}
.contact .inputs {
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  row-gap: 2.5rem;
  align-items: start;
}
.contact .input {
  display: flex;
  flex-direction: column;
}
.contact .input label {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-size: clamp(1.35rem, 0.05rem + 2.59vw, 3.17rem);
}
.contact .input input,
.contact .input textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  resize: none;
  font-size: clamp(1.35rem, 0.05rem + 2.59vw, 3.17rem);
  padding: clamp(0.56rem, 0.12rem + 0.89vw, 1.19rem) 0;
  background: rgba(255, 255, 255, 0);
}
.contact .email {
  grid-column: 2/3;
  grid-row: 1/2;
}
.contact .message {
  grid-column: 1/2;
  grid-row: 2/4;
}
.contact .input-submit-box {
  justify-content: center;
  align-self: end;
}
.contact .submit {
  font-family: "Urbanist", sans-serif;
  border: 1.5px solid #92795a;
  border-radius: 5px;
  color: #92795a !important;
  font-size: clamp(1.35rem, 0.05rem + 2.59vw, 3.17rem);
  letter-spacing: 5;
  font-weight: 500;
  margin: 0 auto;
  padding: clamp(0.88rem, 0.21rem + 1.34vw, 1.81rem) clamp(4.5rem, 0.93rem + 7.14vw, 9.5rem);
  display: inline-block;
}

.footer {
  justify-content: space-around;
  padding: clamp(2.25rem, 0.46rem + 3.57vw, 4.75rem) 0;
  background-color: #423934;
  color: #fff;
}
.footer__logo {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(1.13rem, 0.23rem + 1.79vw, 2.38rem);
}
.footer__logo span {
  font-family: "Playfair Display", serif;
  letter-spacing: clamp(0.56rem, 0.12rem + 0.89vw, 1.19rem);
}
.footer__socials {
  font-size: clamp(1.35rem, 0.05rem + 2.59vw, 3.17rem);
  gap: clamp(2.25rem, 0.46rem + 3.57vw, 4.75rem);
  margin: clamp(0.56rem, 0.12rem + 0.89vw, 1.19rem) 0;
}
.footer__copyright {
  font-family: "Urbanist", sans-serif;
  font-size: clamp(0.78rem, 0.38rem + 0.79vw, 1.34rem);
}
.footer__nav {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  font-family: "Urbanist", sans-serif;
}
.footer .menu-title {
  font-size: clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem);
  font-weight: 700;
}
.footer .menu-item {
  font-size: calc(clamp(0.94rem, 0.33rem + 1.21vw, 1.78rem) - 0.2rem);
}/*# sourceMappingURL=style.css.map */